/* Main Styling */
body {
    background-color: hsl(257, 40%, 49%) !important;
    color: white;
    padding: 30px;
}

.container {
    width: 100%;
}

.logo img {
    width: 150px;
    height: auto;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;    
}

p {
    font-family: 'Open Sans', sans-serif;
}

button {
    width: 200px;
    height: 40px;
    border-radius: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: hsl(257, 40%, 49%);
    background-color: white;
    border: none;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
}


.footer .icon {
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 7px;
    width: 20px;
    height: 20px;
}

.footer {
    margin-bottom: 20px;
}

.fab {
    color: white;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    body {
        background: url(./images/bg-mobile.svg);
        background-size: 105%;
        background-repeat: no-repeat;
    }

    h1 {
        font-size: 28px;
    }

    .logo img {
        padding-bottom: 18%;
        width: 40%;
        height: auto;
    }
    
    
    .hero, .footer {
        text-align: center;
    }

    h1 {
        font-size: 25px;
    }

    .btn {
        margin: 20px;
        margin-bottom: 20%;
    }

    .footer {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media screen and (min-width: 1001px) {
    body {
        background: url(./images/bg-desktop.svg);
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .container {
        padding: 20px;
    }

    .hero {
        display: flex;
        justify-content: space-evenly;
        flex: 1 1 0px;
        /* padding-bottom; */
    }
    
    .logo img {
        width: 15%;
        height: auto;
        padding-bottom: 6%;
    }
    
    .hero-image {
        width: 60%;
    }

    .hero-text {
        width: 40%;
        padding-top: 3%;
    }

    .hero-image, .hero-text {
        height: auto;
        padding-right: 20px;
    }

    .hero-image img {
        width: 100%;
    }

    .footer {
        display: flex;
        float: right;
        
    }
}